<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
{% extends 'index.html' %}

{% block product %}
<form method="POST" action="{% url 'contact' %}">
    {% csrf_token %}
    <p class="label-txt" id="info_txt"> Contact us</p>
    <p class="label-txt">Name</p>
    <p class='input'><input class="contact_txt" type="text" name="message_name"></p>
    <p class="label-txt">Email</p>
    <p class='input'><input class="contact_txt" type="email" name="message_email"></p>
    <p class="label-txt">Message</p>
    <p class='input'><textarea name="message"></textarea></p>
    <p class='input'>
        <button class="bn_contact" type="submit"> Send </button>
    </p>
</form>
{% endblock product %}

</html>