<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
{% extends 'index.html' %}

{% block product %}

{% if category_product %}
  <div class="grid">
    <!-- grid sizer is required to measure column width -->
    <div class="grid-sizer"></div>
  {% for product in category_product %}
    <div class="container grid-item">
        <p><img id="img_small" src='{{ product.image.url }}'/></p>
        <div onclick="location.href='/product/{{product.id}}'" class="overlay">
            <div id="product_cat">
                <p><a class="product" id="product_name"> {{ product.title }}</a></p>
                <p><a class="product" id="product_price"> {{ product.price }} € </a></p>
            </div>
        </div>
    </div>
  {% endfor %}
  </div>
{% endif %}

<script>

function format_layout(){
  $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
};

document.addEventListener('DOMContentLoaded', function(event) {
  format_layout();
});

window.addEventListener('load', function(){
  format_layout();
});

</script>

{% endblock product %}

</html>