<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}

{% block product%}
<p class="label-txt" id="info_txt"> Change password</p>
<form method="post">
    {% csrf_token %}
    <p class="message">{{message}}</p>
    <p class="label-txt">Old password</p>
    <p class="input">{{form.old_password}}</p>
    <p class="label-txt">New password</p>
    <p class="input">{{form.new_password1}}</p>
    <p class="label-txt">New password confirmation</p>
    <p class="input">{{form.new_password2}}</p>
    {% for errors in form.errors.values %}
        <p class="errors"> {{errors}} </p>
    {% endfor %}
    <button class="bn_log" type="submit">Save</button>
</form>
{% endblock product %}

</html>