<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends 'index.html' %}

{% block product %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="3500">
    <img src="\static\images\c1.jpg" class="d-block w-100" alt="...">
  </div>
    <div class="carousel-item" data-bs-interval="3500">
      <img src="\static\images\c2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="\static\images\c3.jpg" class="d-block w-100" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<p id="blank"></p>

<div class="content_adv">
  <h3>Nature</h3>
  <span> natural body lotions </span>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum ut minus corrupti dolorum dolore assumenda iste voluptate dolorem pariatur.</p>
  <a href="/category/4/" class="btn">shop now</a>
</div>

<p id="blank"></p>

<div id="aboutus_container">
  <p id="aboutus_head">About us </p>
</div>

<div id="aboutus_content">
  <div id="aboutus_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error
    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
    quasi architecto beatae vitae dicta sunt explicabo.</div>
  <div id="aboutus_txt"> Contact number: +123456789 </div>
   <video id="video_about" src="/static/images/aboutus.mp4" loop autoplay muted></video>
  </>
</div>
<p id="blank"></p>

{% endblock product %}

</html>