<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
{% extends 'index.html' %}

{% block product%}
{% if product_user %}
<div class="product_des">
    <img class="product_img" src="{{ product_user.image.url }}">
    <p> Details:</p>
    <p id="product_title"> {{ product_user.title }} </p>
    <p> Producer: {{ product_user.producer }} </p>
    <p> Price: {{ product_user.price }} €</p>
    <p> Description: {{ product_user.description }} </p>
    <form action="{% url 'cart:cart_add' product_user.id %}" method='POST'>
    {{cart_product_form}}
    {% csrf_token %}
    <p> <button class="bn_cart" type="submit"> Add To Cart </button></p>
    </form>
    {% endif %}
</div>
{% endblock product %}

</html>
